DriverModel_22/.vs
DriverModel_22/Temp/
DriverModel_22/Lib/
DriverModel_22/x64/Debug/DriverModel.tlog/
DriverModel_22/x64/Debug/DriverModel.ilk
DriverModel_22/x64/Debug/DriverModel.log

DriverModel_22/x64/Release/DriverModel.tlog/
DriverModel_22/x64/Release/DriverModel.ilk
DriverModel_22/x64/Release/DriverModel.log